In [1]:
import pandas as pd
import numpy as np
import mysql.connector
from sqlalchemy import create_engine
from datetime import datetime

In [2]:
engine = create_engine('mysql+mysqlconnector://root:sql2026@localhost/consumer360')

In [3]:
query = 'select * from sales'

In [4]:
df = pd.read_sql(query, engine)
df

,sales_id,customer_id,product_id,date,quantity,unit_price,sales_amount
0,1,209,106,2025-03-04,1,95.43,95.43
1,2,370,21,2024-12-12,5,65.99,329.95
2,3,115,64,2024-06-22,2,34.58,69.16
3,4,209,37,2024-08-23,4,13.77,55.08
4,5,14,27,2023-09-14,1,439.67,439.67
...,...,...,...,...,...,...,...
5994,5996,431,111,2023-06-28,4,377.03,1508.12
5995,5997,430,2,2025-12-07,4,381.66,1526.64
5996,5998,436,89,2025-12-31,4,362.71,1450.84
5997,5999,275,49,2023-04-23,1,255.45,255.45
5998,6000,461,70,2025-01-26,5,200.79,1003.95

In [5]:
# typecasting
df['date'] = pd.to_datetime(df['date'])
df

,sales_id,customer_id,product_id,date,quantity,unit_price,sales_amount
0,1,209,106,2025-03-04,1,95.43,95.43
1,2,370,21,2024-12-12,5,65.99,329.95
2,3,115,64,2024-06-22,2,34.58,69.16
3,4,209,37,2024-08-23,4,13.77,55.08
4,5,14,27,2023-09-14,1,439.67,439.67
...,...,...,...,...,...,...,...
5994,5996,431,111,2023-06-28,4,377.03,1508.12
5995,5997,430,2,2025-12-07,4,381.66,1526.64
5996,5998,436,89,2025-12-31,4,362.71,1450.84
5997,5999,275,49,2023-04-23,1,255.45,255.45
5998,6000,461,70,2025-01-26,5,200.79,1003.95

In [6]:
df = df.rename(columns={'date': 'order_date'})
df

,sales_id,customer_id,product_id,order_date,quantity,unit_price,sales_amount
0,1,209,106,2025-03-04,1,95.43,95.43
1,2,370,21,2024-12-12,5,65.99,329.95
2,3,115,64,2024-06-22,2,34.58,69.16
3,4,209,37,2024-08-23,4,13.77,55.08
4,5,14,27,2023-09-14,1,439.67,439.67
...,...,...,...,...,...,...,...
5994,5996,431,111,2023-06-28,4,377.03,1508.12
5995,5997,430,2,2025-12-07,4,381.66,1526.64
5996,5998,436,89,2025-12-31,4,362.71,1450.84
5997,5999,275,49,2023-04-23,1,255.45,255.45
5998,6000,461,70,2025-01-26,5,200.79,1003.95

In [7]:
df.to_csv(r"E:\consumer360\python\sales.csv", index=False)

In [8]:
snapshot_date = df['order_date'].max() + pd.Timedelta(days=1)

In [9]:
# RFM metrix
rfm = df.groupby('customer_id').agg({
    'order_date': lambda x: (snapshot_date - x.max()).days,  # Recency
    'sales_id': 'nunique',                                     # Frequency
    'sales_amount': 'sum'                                     # Monetary
}).reset_index()

rfm.columns = ['customer_id', 'recency', 'frequency', 'monetary']

rfm

     customer_id  recency  frequency  monetary
0              1      138          8   4462.95
1              2       70         11   6529.97
2              3        4         16  12228.18
3              4       13         10   8120.95
4              5       31         14   8618.87
..           ...      ...        ...       ...
495          496      217          8   3029.60
496          497      104         14  10451.70
497          498       71         10   6329.07
498          499       44         15  10787.86
499          500        5         16  12741.93

[500 rows x 4 columns]

In [10]:
# scoring RFM (1-5).
rfm['R_score'] = pd.qcut(rfm['recency'], 5, labels=[5,4,3,2,1])
rfm['F_score'] = pd.qcut(rfm['frequency'].rank(method='first'), 5, labels=[1,2,3,4,5])
rfm['M_score'] = pd.qcut(rfm['monetary'], 5, labels=[1,2,3,4,5])

rfm[['R_score','F_score','M_score']] = rfm[['R_score','F_score','M_score']].astype(int)

rfm

     customer_id  recency  frequency  monetary  R_score  F_score  M_score
0              1      138          8   4462.95        1        1        1
1              2       70         11   6529.97        3        2        2
2              3        4         16  12228.18        5        5        5
3              4       13         10   8120.95        5        2        3
4              5       31         14   8618.87        4        4        3
..           ...      ...        ...       ...      ...      ...      ...
495          496      217          8   3029.60        1        1        1
496          497      104         14  10451.70        2        4        4
497          498       71         10   6329.07        3        2        2
498          499       44         15  10787.86        4        5        4
499          500        5         16  12741.93        5        5        5

[500 rows x 7 columns]

In [11]:
# Combning RFM Score.
rfm['RFM_score'] = (
    rfm['R_score'].astype(str) +
    rfm['F_score'].astype(str) +
    rfm['M_score'].astype(str)
)
rfm

,customer_id,recency,frequency,monetary,R_score,F_score,M_score,RFM_score
0,1,138,8,4462.95,1,1,1,111
1,2,70,11,6529.97,3,2,2,322
2,3,4,16,12228.18,5,5,5,555
3,4,13,10,8120.95,5,2,3,523
4,5,31,14,8618.87,4,4,3,443
...,...,...,...,...,...,...,...,...
495,496,217,8,3029.60,1,1,1,111
496,497,104,14,10451.70,2,4,4,244
497,498,71,10,6329.07,3,2,2,322
498,499,44,15,10787.86,4,5,4,454
499,500,5,16,12741.93,5,5,5,555

In [12]:
# Customer Segmentation.
def segment_customer(row):
    if row['R_score'] >= 4 and row['F_score'] >= 4 and row['M_score'] >= 4:
        return 'Champions'
    elif row['F_score'] >= 4 and row['M_score'] >= 3:
        return 'Loyalists'
    elif row['R_score'] >= 4 and row['F_score'] >= 2:
        return 'Potential Loyalists'
    elif row['R_score'] <= 2 and row['F_score'] >= 3:
        return 'At Risk'
    else:
        return 'Hibernating'

rfm['segment'] = rfm.apply(segment_customer, axis=1)
rfm

,customer_id,recency,frequency,monetary,R_score,F_score,M_score,RFM_score,segment
0,1,138,8,4462.95,1,1,1,111,Hibernating
1,2,70,11,6529.97,3,2,2,322,Hibernating
2,3,4,16,12228.18,5,5,5,555,Champions
3,4,13,10,8120.95,5,2,3,523,Potential Loyalists
4,5,31,14,8618.87,4,4,3,443,Loyalists
...,...,...,...,...,...,...,...,...,...
495,496,217,8,3029.60,1,1,1,111,Hibernating
496,497,104,14,10451.70,2,4,4,244,Loyalists
497,498,71,10,6329.07,3,2,2,322,Hibernating
498,499,44,15,10787.86,4,5,4,454,Champions
499,500,5,16,12741.93,5,5,5,555,Champions

In [13]:
rfm.to_csv(r"E:\consumer360\python\rfm.csv", index=False)

In [14]:
from mlxtend.frequent_patterns import apriori, association_rules

In [15]:
# Market Basket Analysis: Transaction Matrix
basket = (
    df.groupby(['sales_id', 'product_id'])['quantity']
      .sum()
      .unstack()
      .fillna(0)
)

basket = basket.map(lambda x: True if x > 0 else False)

basket

product_id,1,2,3,4,5,6,7,8,9,10,...,111,112,113,114,115,116,117,118,119,120
sales_id,,,,,,,,,,,,,,,,,,,,,
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5996,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
5997,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5998,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5999,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6000,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [16]:
# Apriori 
frequent_itemsets = apriori(
    basket,
    min_support=0.01,
    use_colnames=True
)

frequent_itemsets

     support itemsets
0   0.010168      (2)
1   0.010168     (18)
2   0.010002     (25)
3   0.010835     (26)
4   0.010002     (42)
5   0.011002     (58)
6   0.010335     (71)
7   0.010335     (77)
8   0.010668     (82)
9   0.010668    (103)
10  0.010002    (106)
11  0.010835    (118)

In [17]:
print(f"Encoded DF Shape: {df.shape}")
print(f"Number of frequent itemsets found: {len(frequent_itemsets)}")

Encoded DF Shape: (5999, 7)
Number of frequent itemsets found: 12

In [18]:
# Association Rules
rules = association_rules(
    frequent_itemsets,
    metric='lift',
    min_threshold=1.0
)

rules = rules.sort_values('lift', ascending=False)

rules

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, representativity, leverage, conviction, zhangs_metric, jaccard, certainty, kulczynski]
Index: []

In [19]:
rules_bi = rules.copy()

rules_bi['antecedents'] = rules_bi['antecedents'].apply(lambda x: ', '.join(list(x)))
rules_bi['consequents'] = rules_bi['consequents'].apply(lambda x: ', '.join(list(x)))

rules_bi = rules_bi[[
    'antecedents',
    'consequents',
    'support',
    'confidence',
    'lift'
]]

rules_bi.head()

Empty DataFrame
Columns: [antecedents, consequents, support, confidence, lift]
Index: []

In [20]:
rules.to_csv(r"E:\consumer360\python\rules.csv", index=False)

In [21]:
!pip install lifetimes

Requirement already satisfied: lifetimes in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (0.11.3)
Requirement already satisfied: numpy>=1.10.0 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from lifetimes) (2.3.5)
Requirement already satisfied: scipy>=1.0.0 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from lifetimes) (1.16.3)
Requirement already satisfied: pandas>=0.24.0 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from lifetimes) (2.3.3)
Requirement already satisfied: autograd>=1.2.0 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from lifetimes) (1.8.0)
Requirement already satisfied: dill>=0.2.6 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from lifetimes) (0.4.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from pandas>=0.24.0->lifetimes) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from pandas>=0.24.0->lifetimes) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from pandas>=0.24.0->lifetimes) (2025.3)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas>=0.24.0->lifetimes) (1.17.0)

In [22]:
from lifetimes import BetaGeoFitter, GammaGammaFitter

In [23]:
# lifetime dataset
lifetimes_df = df.groupby('customer_id').agg({
    'order_date': [
        lambda x: (x.max() - x.min()).days,
        lambda x: (snapshot_date - x.max()).days
    ],
    'sales_id': 'nunique',
    'sales_amount': 'mean'
}).reset_index()

lifetimes_df.columns = [
    'customer_id',
    'recency',
    'T',
    'frequency',
    'monetary_value'
]
lifetimes_df['frequency'] = lifetimes_df['frequency'] - 1

lifetimes_df = lifetimes_df[lifetimes_df['frequency'] > 0]
lifetimes_df

     customer_id  recency    T  frequency  monetary_value
0              1      826  138          7      557.868750
1              2      913   70         10      593.633636
2              3     1092    4         15      764.261250
3              4     1065   13          9      812.095000
4              5     1034   31         13      615.633571
..           ...      ...  ...        ...             ...
495          496      839  217          7      378.700000
496          497      918  104         13      746.550000
497          498      953   71          9      632.907000
498          499      975   44         14      719.190667
499          500     1004    5         15      796.370625

[500 rows x 5 columns]

In [24]:
# verification: to check if there is any row causing trouble.
print(f"Invalid rows: {(lifetimes_df['recency'] > lifetimes_df['T']).sum()}")

Invalid rows: 497

In [25]:
from lifetimes.utils import summary_data_from_transaction_data

lifetimes_df = summary_data_from_transaction_data(
    df, 
    customer_id_col='customer_id', 
    datetime_col='order_date',
    monetary_value_col='sales_amount',
    observation_period_end='2025-12-31' # Set this to your max date
)

In [26]:
# Fit the BG/NBD Model it predict the number of purchases.
bgf = BetaGeoFitter(penalizer_coef=0.01)
bgf.fit(lifetimes_df['frequency'], lifetimes_df['recency'], lifetimes_df['T'])

# Filter for the Gamma-Gamma Model because Gamma-Gamma ONLY works for customers with at least 1 repeat purchase
returning_customers = lifetimes_df[lifetimes_df['frequency'] > 0]

# Fit the Gamma-Gamma Model to predict the total spend
ggf = GammaGammaFitter(penalizer_coef=0.1)
ggf.fit(
    returning_customers['frequency'],
    returning_customers['monetary_value']
)

# Calculate CLV for the final result
# it predicts the expected 12-month value for all customers
lifetimes_df['expected_clv'] = ggf.customer_lifetime_value(
    bgf,
    lifetimes_df['frequency'],
    lifetimes_df['recency'],
    lifetimes_df['T'],
    lifetimes_df['monetary_value'],
    time=12, 
    discount_rate=0.01 # monthly discount rate
)

print(lifetimes_df.sort_values(by='expected_clv', ascending=False).head())

             frequency  recency       T  monetary_value  expected_clv
customer_id
387               18.0   1065.0  1084.0     1222.135556   6635.817762
318               14.0    906.0   999.0     1299.885714   6222.873694
396                2.0    491.0   793.0     1882.780000   6110.487462
188               20.0    950.0   973.0      945.191000   6043.478199
175               17.0    720.0   857.0      948.546471   5862.149330

In [31]:
'''# When you use the summary_data_from_transaction_data function, it sets the ID as the index by default.
#Reset the index 'customer_id' to becomes a column
result = rfm.merge(
    lifetimes_df.reset_index()[['customer_id', 'expected_clv']], 
    on='customer_id', 
    how='left'
).groupby('segment').agg({
    'monetary': 'mean',
    'expected_clv': 'mean'
}).sort_values('expected_clv', ascending=False)

print(result)'''

"# When you use the summary_data_from_transaction_data function, it sets the ID as the index by default.\n#Reset the index 'customer_id' to becomes a column\nresult = rfm.merge(\n    lifetimes_df.reset_index()[['customer_id', 'expected_clv']], \n    on='customer_id', \n    how='left'\n).groupby('segment').agg({\n    'monetary': 'mean',\n    'expected_clv': 'mean'\n}).sort_values('expected_clv', ascending=False)\n\nprint(result)"

In [46]:
# Merge and keep individual customer rows
customer_results = rfm.merge(
    lifetimes_df.reset_index()[['customer_id', 'expected_clv']], 
    on='customer_id', 
    how='left'
)[['customer_id', 'segment', 'monetary', 'expected_clv']]

# 1. Reset the index to turn customer_id back into a column
# final_to_export = customer_results.reset_index()

# 2. Export without the generic row numbers
# final_to_export.to_csv('customer_clv_report.csv', index=False)
# Set customer_id as the index so the "extra" numbers go away
final_output = customer_results.set_index('customer_id')

# Sort and print
print(final_output.sort_values('expected_clv', ascending=False))

final_output.describe()

# Sort by highest value customers
# print(customer_results.sort_values('expected_clv', ascending=False))

                 segment  monetary  expected_clv
customer_id
387            Champions  22635.59   6635.817762
318            Loyalists  18500.29   6222.873694
396          Hibernating   4749.76   6110.487462
188            Champions  19702.32   6043.478199
175            Loyalists  16310.33   5862.149330
...                  ...       ...           ...
159          Hibernating   2500.14   1007.018265
15           Hibernating   2379.09    997.579522
115          Hibernating   3028.93    978.108705
386          Hibernating   2730.50    906.158930
27           Hibernating   3203.92    809.898111

[500 rows x 3 columns]

          monetary  expected_clv
count    500.00000    500.000000
mean    8901.93920   3018.958762
std     3354.77478    982.167839
min     1044.79000    809.898111
25%     6507.92500   2328.200434
50%     8524.27000   2945.942720
75%    11163.30250   3645.447263
max    22635.59000   6635.817762

In [55]:
final_output['expected_clv'] = final_output['expected_clv'].round(2)

In [56]:
final_output.to_csv(r"E:\consumer360\python\Exp_CLV.csv", index=True)

In [30]:
# Statistical Audit
from scipy.stats import f_oneway

champions = rfm[rfm['segment'] == 'Champions']['monetary']
loyalists = rfm[rfm['segment'] == 'Loyalists']['monetary']
at_risk = rfm[rfm['segment'] == 'At Risk']['monetary']

f_stat, p_value = f_oneway(champions, loyalists, at_risk)
print("F-statistic:", f_stat)
print("p-value:", p_value)

F-statistic: 44.344758521048874
p-value: 6.943433129054549e-17